/* CSS RESET START */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/* CSS RESET END */

/* PAGE FUNCTIONALITY START */

.hidden {
    display: none;
}

/* PAGE FUNCTIONALITY END */

/* TYPOGRAPHY START */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: underline;
}

/* TYPOGRAPHY END */

/* LOGIN FORM */

form.signup,
form.login {
  margin-top: 50px;
}

/* MAKE ICONS FOR BUTTONS AND LINKS CLICKABLE */

button > * {
  pointer-events: none;
}

a > * {
  pointer-events: none;
}

/* BASIC STYLES START */

body {
    background-color: #CED6C7;
}

.waves-effect.waves-light.btn {
    background-color: #516F46;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0px;
}

.waves-effect.waves-light.btn:hover {
background-color: #1F3C1A;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    font-weight: 700;
  border-bottom: 1px solid #ffffff;
  -webkit-box-shadow: 0 1px 0 0 #1F3C1A;
          box-shadow: 0 1px 0 0 #1F3C1A;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    font-weight: 700;
    font-size: 20px;
  color: #1F3C1A;
}

.input-field > label {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    text-align: initial;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  
  .input-field > label:not(.label-icon).active {
    -webkit-transform: translateY(-35px) scale(0.8);
            transform: translateY(-35px) scale(0.8);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }

/* BASIC STYLES END */

/* MAIN NAV START */

nav {
    background-color: #92a08c;
    position: absolute;
    top: 0;
    height: 75px;
}

.brand-logo {
    height: 64px;
    width: auto;
    padding: 10px 0px 10px 0px;
}


nav ul {
    margin: 0;
    display: block;
}

nav ul li a {
    transition: background-color .3s;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #ffffff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    line-height: 75px;    
}

.sidenav li>a {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.sidenav {
    background-color: #92a08c;
}

.sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons {
    color: #ffffff;
}

/* MAIN NAV END */

/* CONTAINER AND DIV STYLING START */

div.full-page {
    padding: 75px 25px 0px 25px;
}

.row {
    display: flex;
    width: 100%;
    margin-top: 25px;
}

.row.no-space {
    margin: 10px;
}

.col.s1 {
    width: auto!important;
    margin: auto;
}

/* CONTAINER AND DIV STYLING END */

/* HOMEPAGE START */

.welcome-container {
    background-color: #ffffff;
    padding: 50px!important;
    box-shadow: 5px 5px 5px #888888;
    width: 60%;
    margin-right: 20px;
}

.mood-button-row {
    margin-top: 15px;
}

.mood-buttons{
    background-color: transparent!important;
    border: none;
    color: #dac1b6;
    padding: 0px;
}

.mood-btn-img {
    height: 75px;
    width: auto
}

.mood-buttons:active {
    position:relative;
    top:1px;
}

.mood-inspiration {
    background-color: #516F46;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding: 50px!important;
    box-shadow: 5px 5px 5px #888888;
    width: 30%;
    text-align: center;
}

.garden-background {
    background-color: transparent;
    padding: 0px!important;
    margin-right: 20px;
}

.garden-background img {
    box-shadow: 5px 5px 5px #888888;
} 

.qotd {
    background-image: url("../assets/images/qotd-background.gif"), url("../assets/images/qotd-background-end.gif");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-color: #ffffff;
    padding: 50px!important;
    text-align: center;
    box-shadow: 5px 5px 5px #888888;
}

.qotd h3 {
    margin-bottom: 15px;
}

.qotd .quote {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
}

.quoteAuthor {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
}

/* HOMEPAGE END */

/* JOURNAL ENTRY PAGE START */

textarea#body-input {
    height: 400px!important;
    background-color: #ffffff;
    border: 1px solid #000000!important;
    padding: 10px!important;
}

textarea#author-input {
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #000000!important;
}

.input-field>label {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 10px 10px 10px!important;
}

.journal-entry-active {
    color: #333333;
}

/* JOURNAL ENTRY PAGE END */

/* PREVIOUS ENTRIES PAGE START */

.prev-buttons {
    margin: 0 auto;
    text-align: center;
}

.row.prev-entry {
    margin: 0px;
}

#thank-area {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding: 25px!important;
    box-shadow: 5px 5px 5px #888888;
}

.date-example {
    font-weight: 700;
    text-decoration: underline;
}

ol {
list-style: decimal;
}

.author-name {
    font-style: italic;
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.name-example {
    font-style: normal;
}

a.delete-thank {
    float: right;
}

/* PREVIOUS ENTRIES PAGE END */

/* PDF PAGE START */

.pdf-download-section {
    margin: 0 auto;
    text-align: center;
}

.pdfpage-download-btn {
    height: 200px;
    width: auto;
}

.picture_as_pdf{
        height: 200px;
}

/* PDF PAGE END */

/* MOBILE STYLING START */

@media only screen and (max-width: 1600px) {
    .mood-btn-img {
        height: 35px;
        width: auto
    }
}

@media only screen and (max-width: 768px) {
    div.full-page {
        padding: 50px 5px 0px 5px;
    }
    
    .row .col {
        display: table-cell;
        float: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 1px;
        padding: 0px;
        margin: 10px;
    }

    .row.no-space {
        margin: 10px auto;
    }

    h3 {
        text-align: center;
    }

    .welcome-container {
        padding: 5px!important;
    }    

    .mood-btn-img {
        height: 35px;
        width: auto
    }

    .qotd {
        padding: 5px!important;
    }

    .mood-inspiration {
        padding: 5px!important;
        margin: 10px!important;
    }

    .row .col.s4 {
        margin: 0px 5px 0px 5px;
    }
}

/* MOBILE STYLING END */